name: Test TraceZL

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build-and-test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: cachix/install-nix-action@v27
              with:
                  nix_path: nixpkgs=channel:nixos-25.11

            - name: Build
              run: nix build -L

            - name: Test
              run: |
                  mkdir -p test_output
                  BIN="./result/bin/tracezl"
                  TRACE="test/sample.trace"
                  CONFIG="test_output/config.zlc"
                  COMPRESSED="test_output/output.zl"
                  DECOMPRESSED="test_output/output.trace"

                  echo "Training..."
                  $BIN train "$TRACE" "$CONFIG"

                  echo "Compressing (Chunk size 10KB)..."
                  $BIN compress "$TRACE" "$COMPRESSED" "$CONFIG" --chunk-size 10240 --threads 2

                  echo "Verifying..."
                  $BIN verify "$TRACE" "$COMPRESSED" "$CONFIG"

                  echo "Decompressing..."
                  $BIN decompress "$COMPRESSED" "$DECOMPRESSED" "$CONFIG" --threads 2

                  echo "Comparing..."
                  if cmp -s "$TRACE" "$DECOMPRESSED"; then
                    echo "Success: Files match"
                  else
                    echo "Error: Files differ"
                    exit 1
                  fi
